@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper_home {
	margin: 5px;
	min-width: 700px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 15%;
}
.wrapper_result {
	margin: 5px;
	min-width: 700px;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

.content_home {
	border-radius: 5px;
	box-shadow:  0 2px 4px #0000001a, 0 1px 2px #00000038;
	padding: 50px;
	margin: 10px;
	text-align: center;
}
.content_result {
	border-radius: 5px;
	box-shadow:  0 2px 4px #0000001a, 0 1px 2px #00000038;
	padding: 5px;
	margin: 10px;
	text-align: center;
}

.content_home	input[type=text] {
	border: 2px solid #2196F3;
 	border-radius: 4px;
 	color: black;
 	width: 67%;
 	padding: 6px 8px 8px;
 	outline: none;
 	font-size: 13px;
 	box-sizing: border-box; 	
}
.content_home	input[type=submit] {
	background-color: #003471;
	color: white;
	border: none;
	text-decoration: none;
	text-align: center;
	padding: 8px 50px 8px 50px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
}
.title {
	font-family: 'Roboto', sans-serif;
	color: #aaaaaa;
	margin: 10px;
	text-transform: uppercase;
}
.profile img{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.title td {
	color: blue;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
