<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Flask Google Maps Example</title>
            {{plinemap.js}}
    </head>
    <body>
        <h1>Fishing history</h1>

        <h2>Map</h2>
        <div>
            Name : Budi raharjo</br>
            Address : Tulungagung</br>
            Id : 123xb </br>
            <img src="/static/images/budi_anduk.JPG" height="60" width="60"></br>
        </div>
        <div>
        Date : 2018-10-January </br>
        Fishing trip length : 28 Km </br>
        Todal days : 63 days</br>
        Total catch : 346.25 KG</br>
        Fish species : 4 species</br>
        </div>
        <hline>
        <br/>
        <div>
        {{ plinemap.html }}
    </div>
    </body>


</html>
