<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="utf-8">
            <meta name="description" content="Sites For Fishackaton">
            <meta name="author" content="kembung">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Ultimate solution for fisherman</title>
            <link rel="stylesheet" type="text/css" href="../static/style/style.css">
            {{plinemap.js}}
    </head>
    <body>
        <div class="wrapper_result">
            <div class="content_result">
            <div class="title">
                <h1>General Fishing History</h1>
                <h2>Last update : 30 January 2018</h2>
            </div>
            <div class="table">
    
    <div class="row header blue">
      <div class="cell">
        Nama
      </div>
      <div class="cell">
        Domisili
      </div>
      <div class="cell">
        Jumlah Tangkapan
      </div>
      <div class="cell">
        Jenis ikan
      </div>
      <div class="cell">
        Tanggal lapor terakhir
      </div>
     <div class="cell">
        Posisi terakhir
      </div>


    </div>
    
    <div class="row">
      <div class="cell" data-title="Username">
        Budi rahardjo
      </div>
      <div class="cell" data-title="Email">
        Kampung rambutan
      </div>
      <div class="cell" data-title="Password">
        20 ton
      </div>
      <div class="cell" data-title="Jaja">
        Kembung, Tongkol, Tuna
      </div>
      <div class="cell" data-title="Jaja">
        25 December 2017
      </div>
      <div class="cell" data-title="Jaja">
        Lat : -8.830843, Lang : 116.498367
      </div>

    </div>

    <div class="row">
      <div class="cell" data-title="Username">
        Abdul munif
      </div>
      <div class="cell" data-title="Email">
        gerupuk sahajutan
      </div>
      <div class="cell" data-title="Password">
        1 ton
      </div>
      <div class="cell" data-title="Jaja">
        Kembung, Tuna
      </div>
      <div class="cell" data-title="Jaja">
        10 December 2017
      </div>
    <div class="cell" data-title="Jaja"> 
          Lat : -7.823657543, Lang : 54.448367
      </div>
    </div>

    <div class="row">
      <div class="cell" data-title="Username">
        Kamaludin
      </div>
      <div class="cell" data-title="Email">
        pulang semengkek
      </div>
      <div class="cell" data-title="Password">
        0.5 ton
      </div>
      <div class="cell" data-title="Jaja">
        Tongkol
      </div>
      <div class="cell" data-title="Jaja">
        12 Agustus 2017
      </div>
    <div class="cell" data-title="Jaja"> 
          Lat : 21.343657543, Lang : 123.448367
      </div>
   </div>
    <div class="row">
      <div class="cell" data-title="Username">
        Samsuri
      </div>
      <div class="cell" data-title="Email">
        Desa pugut
      </div>
      <div class="cell" data-title="Password">
        20 ton
      </div>
      <div class="cell" data-title="Jaja">
        Tongkol, Banonang, Kakap
      </div>
      <div class="cell" data-title="Jaja">
        1 September 2017
      </div>
    <div class="cell" data-title="Jaja"> 
          Lat : 53.627543, Lang : 13.448367
      </div>


    </div>

    
  </div>
  

            <br/>
            <div>
                {{ plinemap.html }}
            </div>
            </div>
        
    </body>


</html>
